<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Help</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../static/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../static/vendors/base/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="../static/images/favicon.png"/>
</head>

<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="navbar-brand-wrapper d-flex justify-content-center">
            <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
                <a class="navbar-brand brand-logo" href="index.html"><img src="../static/images/logo2.png" alt="logo"/></a>
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="mdi mdi-sort-variant"></span>
                </button>
            </div>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
            <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item dropdown mr-4">
                    <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center notification-dropdown"
                       id="notificationDropdown" href="#" data-toggle="dropdown">
                        <i class="mdi mdi-bell mx-0"></i>
                        <span class="count"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown"
                         aria-labelledby="notificationDropdown">
                        <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
                        <a class="dropdown-item">
                            <div class="item-thumbnail">
                                <div class="item-icon bg-success">
                                    <i class="mdi mdi-information mx-0"></i>
                                </div>
                            </div>
                            <div class="item-content">
                                <h6 class="font-weight-normal">Application Error</h6>
                                <p class="font-weight-light small-text mb-0 text-muted">
                                    Just now
                                </p>
                            </div>
                        </a>
                        <a class="dropdown-item">
                            <div class="item-thumbnail">
                                <div class="item-icon bg-warning">
                                    <i class="mdi mdi-settings mx-0"></i>
                                </div>
                            </div>
                            <div class="item-content">
                                <h6 class="font-weight-normal">Settings</h6>
                                <p class="font-weight-light small-text mb-0 text-muted">
                                    Private message
                                </p>
                            </div>
                        </a>
                        <a class="dropdown-item">
                            <div class="item-thumbnail">
                                <div class="item-icon bg-info">
                                    <i class="mdi mdi-account-box mx-0"></i>
                                </div>
                            </div>
                            <div class="item-content">
                                <h6 class="font-weight-normal">New user registration</h6>
                                <p class="font-weight-light small-text mb-0 text-muted">
                                    2 days ago
                                </p>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                    data-toggle="offcanvas">
                <span class="mdi mdi-menu"></span>
            </button>
        </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/index">
                        <i class="mdi mdi-home menu-icon"></i>
                        <span class="menu-title">首页</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/help">
                        <i class="mdi mdi-file-document-box-outline menu-icon"></i>
                        <span class="menu-title">帮助文档</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about_us">
                        <i class="mdi mdi-emoticon menu-icon"></i>
                        <span class="menu-title">关于我们</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-12 grid-margin">
                        <div class="d-flex justify-content-between flex-wrap">
                            <div class="d-flex align-items-end flex-wrap">
                                <div class="mr-md-3 mr-xl-5">
                                    <h2>欢迎使用本机器人！</h2>
                                    <p class="mb-md-0">本机器人是基于启智ROS开发的智能服务型机器人，以下是本软件的使用手册</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-title text-primary text-center">基本移动模式</p>
                                <p><i class="mdi mdi-marker-check mx-0 text-primary"></i> 点击基本移动模式按钮，您将进入移动控制界面操控机器人</p>
                                <p><i class="mdi mdi-marker-check mx-0 text-primary"></i> 机器人可以进行四个方向的平移运动,分别对应4个按钮</p>
                                <p><i class="mdi mdi-marker-check mx-0 text-primary"></i> 为了保证您的安全，机器人各个方向的最高运动速率为0.3m/s</p>
                                <p><i class="mdi mdi-marker-check mx-0 text-primary"></i> 当您需要机器人停止运动时，请点击“停止”按钮</p>
                                <p><i class="mdi mdi-marker-check mx-0 text-primary"></i> 点击Exit，退出本模式</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-title text-info text-center">建立环境地图</p>
                                <p><i class="mdi mdi-marker mx-0 text-info"></i> 环境地图是机器人自主运动控制和导航的前提管理员已为您建好了初始的地图</p>
                                <p><i class="mdi mdi-marker mx-0 text-info"></i> 当环境中有固定障碍物加入的时候，您可以点击建立环境地图按钮重新建图</p>
                                <p><i class="mdi mdi-marker mx-0 text-info"></i> 建图界面与基本移动界面基本十分相似，各个按钮的功能详见基本移动</p>
                                <p><i class="mdi mdi-marker mx-0 text-info"></i> 点击覆盖原有地图按钮，您新建立的地图将会被保存，覆盖原有地图</p>
                                <p><i class="mdi mdi-marker mx-0 text-info"></i> 点击Exit，推出本模式</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-title text-success text-center">导航模式</p>
                                <p><i class="mdi mdi-access-point mx-0 text-success"></i> 环境地图建立完成后，机器人具备了自主导航的能力，并在途中躲避障碍</p>
                                <p><i class="mdi mdi-access-point mx-0 text-success"></i> 点击导航模式按钮，您将进入导航界面，机器人可以去往事先标定好的地点</p>
                                <p><i class="mdi mdi-access-point mx-0 text-success"></i> 在下拉框中选择目的地，点击开始导航按钮，机器人开始自主导航</p>
                                <p><i class="mdi mdi-access-point mx-0 text-success"></i> 运行过程中，为了您的安全，请勿干扰机器人的运动</p>
                                <p><i class="mdi mdi-access-point mx-0 text-success"></i> 点击Exit，退出本模式</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <p class=" card-title text-warning text-center">抓取模式</p>
                                <p><i class="mdi mdi-balloon mx-0 text-warning"></i> 点击抓取模式按钮，您将进入抓取界面，机器人可以对物品进行检测</p>
                                <p><i class="mdi mdi-balloon mx-0 text-warning"></i> 点击Exit，退出本模式</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <footer class="footer">
                <div class="d-sm-flex justify-content-center">
                <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Design by 护肝队 <i
                        class="mdi mdi-heart text-danger"></i></span>
                </div>
            </footer>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

<!-- plugins:js -->
<script src="../static/vendors/jquery/jquery.min.js"></script>
<script src="../static/vendors/base/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- inject:js -->
<script src="../static/js/off-canvas.js"></script>
<script src="../static/js/hoverable-collapse.js"></script>
<script src="../static/js/template.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="../static/js/file-upload.js"></script>
<!-- End custom js for this page-->


</body>

</html>
