<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Index</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../static/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../static/vendors/base/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="../static/images/favicon.png"/>
</head>

<body>
<div class="content-wrapper">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body text-center">
                    <button type="button" data-toggle="modal" data-target="#basicMove"
                            class="btn btn-inverse-primary btn-fw" aria-hidden="true">基本移动模式
                    </button>
                    <!-- Modal-->
                    <div id="basicMove" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
                         aria-labelledby="exampleModalLabel"
                         aria-hidden="true" class="modal fade text-left">
                        <div role="document" class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 id="exampleModalLabel" class="modal-title">基本移动模式</h4>
                                    {#                                    <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span#}
                                    {#                                            aria-hidden="true">×</span></button>#}
                                </div>
                                <div class="modal-body">
                                    <div class="template-demo text-center">
                                        <button type="button" class="btn btn-inverse-primary btn-icon-text btn-rounded"
                                                onclick="goForward()">
                                            前进
                                        </button>
                                    </div>
                                    <div class="template-demo text-center">
                                        <button type="button" class="btn btn-inverse-primary btn-icon-text btn-rounded"
                                                onclick="goLeft()">
                                            左转
                                        </button>
                                        <button type="button" class="btn btn-inverse-primary btn-icon-text btn-rounded"
                                                onclick="goRight()">
                                            右转
                                        </button>
                                    </div>
                                    <div class="template-demo text-center">
                                        <button type="button" class="btn btn-inverse-primary btn-icon-text btn-rounded"
                                                onclick="goBackward()">
                                            后退
                                        </button>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" data-dismiss="modal" class="btn btn-primary" onclick="exit1()">Exit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body text-center">
                    <button type="button" data-toggle="modal" data-target="#navi" class="btn btn-inverse-info btn-fw">
                        导航模式
                    </button>
                    <!-- Modal-->
                    <div id="navi" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
                         aria-labelledby="exampleModalLabel" aria-hidden="true"
                         class="modal fade text-left">
                        <div role="document" class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 id="exampleModalLabel" class="modal-title">导航模式</h4>
                                    {#                                    <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span#}
                                    {#                                            aria-hidden="true">×</span></button>#}
                                </div>
                                <div class="modal-body">
                                    <div class="template-demo text-center">
                                        <button type="button" class="btn btn-inverse-info btn-icon-text btn-rounded">
                                            选择目的地
                                        </button>
                                    </div>
                                    <div class="template-demo text-center">
                                        <button type="button" class="btn btn-inverse-info btn-icon-text btn-rounded" onclick="startNavi()">
                                            开始导航
                                        </button>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" data-dismiss="modal" class="btn btn-info" onclick="exit3()">Exit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body text-center">
                    <button type="button" data-toggle="modal" data-target="#follow"
                            class="btn btn-inverse-success btn-fw">跟随移动模式
                    </button>
                    <!-- Modal-->
                    <div id="follow" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
                         aria-labelledby="exampleModalLabel" aria-hidden="true"
                         class="modal fade text-left">
                        <div role="document" class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 id="exampleModalLabel" class="modal-title">跟随移动模式</h4>
                                    {#                                    <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span#}
                                    {#                                            aria-hidden="true">×</span></button>#}
                                </div>
                                <div class="modal-body">
                                    <div class="template-demo text-center">
                                        <button type="button" class="btn btn-inverse-success btn-icon-text btn-rounded"
                                                onclick="startFollow()">
                                            开始跟随
                                        </button>
                                    </div>
                                    <div class="template-demo text-center">
                                        <button type="button" class="btn btn-inverse-success btn-icon-text btn-rounded"
                                                onclick="stopFollow()">
                                            结束跟随
                                        </button>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" data-dismiss="modal" class="btn btn-success" onclick="exit2()">Exit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body text-center">
                    <button type="button" data-toggle="modal" data-target="#grab"
                            class="btn btn-inverse-warning btn-fw">抓取模式
                    </button>
                    <!-- Modal-->
                    <div id="grab" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
                         aria-labelledby="exampleModalLabel" aria-hidden="true"
                         class="modal fade text-left">
                        <div role="document" class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 id="exampleModalLabel" class="modal-title">抓取模式</h4>
                                    {#                                    <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span#}
                                    {#                                            aria-hidden="true">×</span></button>#}
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group">
                                            <label>请输入目的地</label>
                                            <input type="text" placeholder="e.g. 桌子" class="form-control" id="place">
                                        </div>
                                        <div class="form-group">
                                            <label>请输入物品名称</label>
                                            <input type="text" placeholder="e.g. 水瓶" class="form-control" id="object">
                                        </div>
                                        <div class="form-group">
                                            <button type="button" class="btn btn-inverse-warning btn-icon-text btn-rounded"
                                                    onclick="grabChoice()">开始抓取
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" data-dismiss="modal" class="btn btn-warning" onclick="exit4()">Exit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- content-wrapper ends -->
<!-- partial:../../partials/_footer.html -->
<footer class="footer">
    <div class="d-sm-flex justify-content-center">
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Design by 护肝队 <i
                class="mdi mdi-heart text-danger"></i></span>
    </div>
</footer>
<!-- partial -->

<!-- main-panel ends -->

<!-- page-body-wrapper ends -->

<!-- container-scroller -->

<script type="text/javascript">
    function goForward() {
        const data = {
            'pattern': '1',
            'action': 'forward'
        };
        $.ajax({
            url: "{{ url_for('index') }}",
            type: "get",
            data: data,
            success: function (data) {
                alert("forward");
            },
            error: function (e) {
                alert("Error！");
            }
        })
    }

    function goBackward() {
        const data = {
            'pattern': '1',
            'action': 'backward'
        };
        $.ajax({
            url: "{{ url_for('index') }}",
            type: "get",
            data: data,
            success: function (data) {
                alert("backward");
            },
            error: function (e) {
                alert("Error！");
            }
        })
    }

    function goLeft() {
        const data = {
            'pattern': '1',
            'action': 'left'
        };
        $.ajax({
            url: "{{ url_for('index') }}",
            type: "get",
            data: data,
            success: function (data) {
                alert("left");
            },
            error: function (e) {
                alert("Error！");
            }
        })
    }

    function goRight() {
        const data = {
            'pattern': '1',
            'action': 'right'
        };
        $.ajax({
            url: "{{ url_for('index') }}",
            type: "get",
            data: data,
            success: function (data) {
                alert("right");
            },
            error: function (e) {
                alert("Error！");
            }
        })
    }

    function startFollow() {
        const data = {
            'pattern': '2',
            'action': 'start'
        };
        $.ajax({
            url: "{{ url_for('index') }}",
            type: "get",
            data: data,
            success: function (data) {
                alert("start follow");
            },
            error: function (e) {
                alert("Error！");
            }
        })
    }

    function stopFollow() {
        const data = {
            'pattern': '2',
            'action': 'stop'
        };
        $.ajax({
            url: "{{ url_for('index') }}",
            type: "get",
            data: data,
            success: function (data) {
                alert("stop follow");
            },
            error: function (e) {
                alert("Error！");
            }
        })
    }

    function startNavi() {
        const data = {
            'pattern': '3',
            'action': 'start'
        };
        $.ajax({
            url: "{{ url_for('index') }}",
            type: "get",
            data: data,
            success: function (data) {
                alert("start navi");
            },
            error: function (e) {
                alert("Error！");
            }
        })
    }

    function grabChoice() {
        const place = $.trim($('#place').val());
        const object = $.trim($('#object').val());
        const data = {
            'pattern': '4',
            'place': place,
            'object':object
        };
        $.ajax({
            url: "{{ url_for('index') }}",
            type: "get",
            data: data,
            success: function (data) {
                alert("grab choice");
            },
            error: function (e) {
                alert("Error！");
            }
        })
    }

    function exit1() {
        const data = {
            'pattern': '1',
            'action': 'exit'
        };
        $.ajax({
            url: "{{ url_for('index') }}",
            type: "get",
            data: data,
            success: function (data) {
                alert("basic exit");
            },
            error: function (e) {
                alert("Error！");
            }
        })
    }

    function exit2() {
        const data = {
            'pattern': '2',
            'action': 'exit'
        };
        $.ajax({
            url: "{{ url_for('index') }}",
            type: "get",
            data: data,
            success: function (data) {
                alert("follow exit");
            },
            error: function (e) {
                alert("Error！");
            }
        })
    }

    function exit3() {
        const data = {
            'pattern': '3',
            'action': 'exit'
        };
        $.ajax({
            url: "{{ url_for('index') }}",
            type: "get",
            data: data,
            success: function (data) {
                alert("navi exit");
            },
            error: function (e) {
                alert("Error！");
            }
        })
    }

    function exit4() {
        const data = {
            'pattern': '4',
            'action': 'exit'
        };
        $.ajax({
            url: "{{ url_for('index') }}",
            type: "get",
            data: data,
            success: function (data) {
                alert("grab exit");
            },
            error: function (e) {
                alert("Error！");
            }
        })
    }
</script>

<!-- plugins:js -->
<script src="../static/vendors/jquery/jquery.min.js"></script>
<script src="../static/vendors/base/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- inject:js -->
<script src="../static/js/off-canvas.js"></script>
<script src="../static/js/hoverable-collapse.js"></script>
<script src="../static/js/template.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="../static/js/file-upload.js"></script>
<!-- End custom js for this page-->


</body>

</html>
